In [18]:
# 1. Importing file sharks and making a copy:

import pandas as pd
import os

os.chdir('C:/Users/Kasia/TEST/806_Repo/Labs/module_1/Pipelines-Project/204_47432_compressed_attacks')
sharks=pd.read_csv("attacks.csv", encoding='latin-1')
data = sharks.copy()

In [19]:
# 2. Examining data:
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [20]:
data.shape

(25723, 24)

In [21]:
data.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [22]:
#checking what unique values I have in each column to get more idea of what I have in my data:
data["Injury"].unique()

array(['No injury to occupant, outrigger canoe and paddle damaged',
       'Minor injury to left thigh',
       'Injury to left lower leg from surfboard skeg', ...,
       'FATAL, leg stripped of flesh  ',
       'FATAL, knocked overboard by tail of shark & carried off by shark ',
       'FATAL. "Shark bit him in half, carrying away the lower extremities" '],
      dtype=object)

In [23]:
"""
3. After checking what my data looks like, I am defining my purpose of cleaning the data:

Travel agency is studying about best locations to organize water sports escapades.
They are asking me:
- which countries are to avoid when it comes to shark attacks danger;
- the risk that the shark attack will be fatal;
- if there is any seasonality in shark attacks, so they could avoid certain months.

So to my study, the most important columns are:
Country, Year - these cannot be nan
Fatal, Date - these, even if nan, I keep, bc they still give me info that there was an attack in specyfic country
"""

'\n3. After checking what my data looks like, I am defining my purpose of cleaning the data:\n\nTravel agency is studying about best locations to organize water sports escapades.\nThey are asking me:\n- which countries are to avoid when it comes to shark attacks danger;\n- the risk that the shark attack will be fatal;\n- if there is any seasonality in shark attacks, so they could avoid certain months.\n\nSo to my study, the most important columns are:\nCountry, Year - these cannot be nan\nFatal, Date - these, even if nan, I keep, bc they still give me info that there was an attack in specyfic country\n'

In [24]:
# 4. I decided to drop columns at the end of the pricess, bc even unnecessary columns I might need to clean necessary columns.
# ( I have learnt it hard way ;)

In [25]:
# 5. I will check if there are duplicated rows:

#data.duplicated(subset=["Date","Name","Location", "Injury","Time"])
data.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
25718     True
25719     True
25720     True
25721     True
25722    False
Length: 25723, dtype: bool

In [26]:
# 6. Apparently there are exact duplicates, I will get rid of them:
data = data.drop_duplicates()
data.shape

(6312, 24)

In [27]:
# 7. If I understand well, there were 21k rows duplicated??? I hope I understand well...

In [28]:
# 8. Checking my important columns for unique values
data["Year"].unique()

array([2018., 2017.,   nan, 2016., 2015., 2014., 2013., 2012., 2011.,
       2010., 2009., 2008., 2007., 2006., 2005., 2004., 2003., 2002.,
       2001., 2000., 1999., 1998., 1997., 1996., 1995., 1984., 1994.,
       1993., 1992., 1991., 1990., 1989., 1969., 1988., 1987., 1986.,
       1985., 1983., 1982., 1981., 1980., 1979., 1978., 1977., 1976.,
       1975., 1974., 1973., 1972., 1971., 1970., 1968., 1967., 1966.,
       1965., 1964., 1963., 1962., 1961., 1960., 1959., 1958., 1957.,
       1956., 1955., 1954., 1953., 1952., 1951., 1950., 1949., 1948.,
       1848., 1947., 1946., 1945., 1944., 1943., 1942., 1941., 1940.,
       1939., 1938., 1937., 1936., 1935., 1934., 1933., 1932., 1931.,
       1930., 1929., 1928., 1927., 1926., 1925., 1924., 1923., 1922.,
       1921., 1920., 1919., 1918., 1917., 1916., 1915., 1914., 1913.,
       1912., 1911., 1910., 1909., 1908., 1907., 1906., 1905., 1904.,
       1903., 1902., 1901., 1900., 1899., 1898., 1897., 1896., 1895.,
       1894., 1893., 1892., 1891., 1890., 1889., 1888., 1887., 1886.,
       1885., 1884., 1883., 1882., 1881., 1880., 1879., 1878., 1877.,
       1876., 1875., 1874., 1873., 1872., 1871., 1870., 1869., 1868.,
       1867., 1866., 1865., 1864., 1863., 1862., 1861., 1860., 1859.,
       1858., 1857., 1856., 1855., 1853., 1852., 1851., 1850., 1849.,
       1847., 1846., 1845., 1844., 1842., 1841., 1840., 1839., 1837.,
       1836., 1835., 1834., 1832., 1831., 1830., 1829., 1828., 1827.,
       1826., 1825., 1823., 1822., 1819., 1818., 1817., 1816., 1815.,
       1812., 1811., 1810., 1808., 1807., 1805., 1804., 1803., 1802.,
       1801., 1800., 1797., 1792., 1791., 1788., 1787., 1786., 1785.,
       1784., 1783., 1780., 1779., 1776., 1771., 1767., 1764., 1758.,
       1753., 1751., 1749., 1755., 1748., 1742., 1738., 1733., 1723.,
       1721., 1703., 1700., 1642., 1638., 1637., 1617., 1595., 1580.,
       1555., 1554., 1543.,  500.,   77.,    5.,    0.])

In [29]:
# 9. Will start with Year - it goes back to 1543:
indexNames = data[data['Year'] < 2000].index
data.drop(indexNames , inplace=True)
data["Year"].unique()

array([2018., 2017.,   nan, 2016., 2015., 2014., 2013., 2012., 2011.,
       2010., 2009., 2008., 2007., 2006., 2005., 2004., 2003., 2002.,
       2001., 2000.])

In [30]:
data.shape

(2090, 24)

In [31]:
# 10. Year column is essential to me (the migration of sharks every 20 years), so I will drop nans:
data.dropna(subset = ["Year"], inplace=True)
data["Year"].unique()

array([2018., 2017., 2016., 2015., 2014., 2013., 2012., 2011., 2010.,
       2009., 2008., 2007., 2006., 2005., 2004., 2003., 2002., 2001.,
       2000.])

In [32]:
data.shape

(2078, 24)

In [33]:
# 11. Checking Fatality column:
data["Fatal (Y/N)"].unique()

array(['N', 'Y', nan, 'M', 'UNKNOWN', '2017'], dtype=object)

In [34]:
# 12. Will clean values:
data["Fatal (Y/N)"] = data["Fatal (Y/N)"].str.replace('M', 'N')
data.["Fatal (Y/N)"].unique()

SyntaxError: invalid syntax (<ipython-input-34-0dbea2ab1270>, line 3)

In [35]:
# 13. I constate that having spaces in col name is not a good thing, will rename this column first:
data = data.rename(columns={'Fatal (Y/N)':'Fatality'})
# 14. and clean the M/N:
data["Fatality"] = data["Fatality"].str.replace('M', 'N')
data.Fatality.unique()

array(['N', 'Y', nan, 'UNKNOWN', '2017'], dtype=object)

In [36]:
# 15. 
data.Fatality.value_counts()

N          1739
Y           175
UNKNOWN       2
2017          1
Name: Fatality, dtype: int64

In [37]:
# 16. looks good, 3 values that is tempting to drop/leave them, but let s see if possible to correct them:
# question in my head, shall i drop these 3 rows of nan or keep the for the sake of other info in the row?
#I will keep them for now
data.loc[data['Fatality'] == "2017"]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
786,2012.06.10,10-Jun-2012,2012.0,Provoked,ITALY,Sardinia,Muravera,Attempting to rescue an injured & beached shark,Giorgio Zara,M,...,"Blue shark, 2.5m","D. Puddo, 6/11/2012",2012.06.10-Zara.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.06.10,2012.06.10,5517.0,NaN,NaN

In [38]:
# 16a
data.loc[data['Fatality'] == "UNKNOWN"]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
624,2013.09.08,08-Sep-2013,2013.0,Unprovoked,USA,South Carolina,"St. Helena Island, Beaufort County",NaN,female,F,...,NaN,"WIS-TV, 9/9/2013",2013.09.08-St-Helena.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.09.08,2013.09.08,5679.0,NaN,NaN
1270,2008.04.20.a,20-Apr-2008,2008.0,Unprovoked,AUSTRALIA,New South Wales,Crescent Head,NaN,Jamie Adlington,M,...,"Tiger shark, 2.3m","T. Peake, GSAF",2008.04.20.a-Adlington.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2008.04.20.a,2008.04.20.a,5033.0,NaN,NaN

In [39]:
# 17. seems like 2017 was not fatal, lets correct it:
data["Fatality"] = data["Fatality"].str.replace('2017', 'N')
data['Fatality'] = data['Fatality'].fillna("UNKNOWN")
data.Fatality.unique()

array(['N', 'Y', 'UNKNOWN'], dtype=object)

In [40]:
# 17a
# ok, looks good, but it wasnt piece of cake, been struggling with:
#NameError: name 'nan' is not defined, imported numby but it didnt help, then was this:
#TypeError: repl must be a string or callable
# grrrrr, I will change my nan to UNKNOWN instead:
#data['Fatality'] = data['Fatality'].fillna("UNKNOWN")
#data["Fatality"] = data["Fatality"].str.replace('','UNKNOWN')
#data.Fatality.unique()
#array(['UNKNOWNUUNKNOWNNUNKNOWNKUNKNOWNNUNKNOWNOUNKNOWNWUNKNOWNNUNKNOWNNUNKNOWNUUNKNOWNNUNKNOWNKUNKNOWNNUNKNOWNOUNKNOWNWUNKNOWNNUNKNOWN',
 #      'UNKNOWNUUNKNOWNNUNKNOWNKUNKNOWNNUNKNOWNOUNKNOWNWUNKNOWNNUNKNOWNYUNKNOWNUUNKNOWNNUNKNOWNKUNKNOWNNUNKNOWNOUNKNOWNWUNKNOWNNUNKNOWN',
  #     'UNKNOWNUUNKNOWNNUNKNOWNKUNKNOWNNUNKNOWNOUNKNOWNWUNKNOWNNUNKNOWNUUNKNOWNUUNKNOWNNUNKNOWNKUNKNOWNNUNKNOWNOUNKNOWNWUNKNOWNNUNKNOWNNUNKNOWNUUNKNOWNNUNKNOWNKUNKNOWNNUNKNOWNOUNKNOWNWUNKNOWNNUNKNOWNKUNKNOWNUUNKNOWNNUNKNOWNKUNKNOWNNUNKNOWNOUNKNOWNWUNKNOWNNUNKNOWNNUNKNOWNUUNKNOWNNUNKNOWNKUNKNOWNNUNKNOWNOUNKNOWNWUNKNOWNNUNKNOWNOUNKNOWNUUNKNOWNNUNKNOWNKUNKNOWNNUNKNOWNOUNKNOWNWUNKNOWNNUNKNOWNWUNKNOWNUUNKNOWNNUNKNOWNKUNKNOWNNUNKNOWNOUNKNOWNWUNKNOWNNUNKNOWNNUNKNOWNUUNKNOWNNUNKNOWNKUNKNOWNNUNKNOWNOUNKNOWNWUNKNOWNNUNKNOWN',
   #    'UNKNOWNUUNKNOWNNUNKNOWNKUNKNOWNNUNKNOWNOUNKNOWNWUNKNOWNNUNKNOWN'],
    #  dtype=object)

In [41]:
# 18. I will now work on Country column:
data["Country"].unique()

array(['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'ENGLAND', 'SOUTH AFRICA',
       'THAILAND', 'COSTA RICA', 'MALDIVES', 'BAHAMAS', 'NEW CALEDONIA',
       'ECUADOR', 'MALAYSIA', 'LIBYA', nan, 'CUBA', 'MAURITIUS',
       'NEW ZEALAND', 'SPAIN', 'SAMOA', 'SOLOMON ISLANDS', 'JAPAN',
       'EGYPT', 'ST HELENA, British overseas territory', 'COMOROS',
       'REUNION', 'FRENCH POLYNESIA', 'UNITED KINGDOM',
       'UNITED ARAB EMIRATES', 'PHILIPPINES', 'INDONESIA', 'CHINA',
       'COLUMBIA', 'CAPE VERDE', 'Fiji', 'DOMINICAN REPUBLIC',
       'CAYMAN ISLANDS', 'ARUBA', 'MOZAMBIQUE', 'FIJI', 'PUERTO RICO',
       'ITALY', 'ATLANTIC OCEAN', 'GREECE', 'ST. MARTIN', 'FRANCE',
       'PAPUA NEW GUINEA', 'TRINIDAD & TOBAGO', 'KIRIBATI', 'ISRAEL',
       'DIEGO GARCIA', 'TAIWAN', 'JAMAICA', 'PALESTINIAN TERRITORIES',
       'GUAM', 'SEYCHELLES', 'BELIZE', 'NIGERIA', 'TONGA', 'SCOTLAND',
       'CANADA', 'CROATIA', 'SAUDI ARABIA', 'CHILE', 'ANTIGUA', 'KENYA',
       'RUSSIA', 'TURKS & CAICOS', 'UNITED ARAB EMIRATES (UAE)', 'AZORES',
       'SOUTH KOREA', 'MALTA', 'VIETNAM', 'MADAGASCAR', 'PANAMA',
       'SOMALIA', 'NEVIS', 'BRITISH VIRGIN ISLANDS', 'NORWAY', 'SENEGAL',
       'YEMEN', 'GULF OF ADEN', 'Sierra Leone', 'ST. MAARTIN',
       'GRAND CAYMAN', 'Seychelles', 'LIBERIA', 'VANUATU', 'MEXICO ',
       'HONDURAS', 'VENEZUELA', 'SRI LANKA', ' TONGA', 'URUGUAY', 'INDIA',
       'MICRONESIA', 'CARIBBEAN SEA', 'OKINAWA', 'TANZANIA'], dtype=object)

In [42]:
# 19. It seems pretty clean to me, I will only 
# - change nans na UNMKNOWN
# - merge FIJI with Fiji
# - merge England with United Kingdom (eventhough missing some information)
data['Country'].fillna('UNKNOWN', inplace=True)
data['Country'] = data['Country'].str.strip().str.upper()
data["Country"] = data["Country"].str.replace('ENGLAND', 'NUNITED KINGDOM')
data["Country"].unique()

array(['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'NUNITED KINGDOM',
       'SOUTH AFRICA', 'THAILAND', 'COSTA RICA', 'MALDIVES', 'BAHAMAS',
       'NEW CALEDONIA', 'ECUADOR', 'MALAYSIA', 'LIBYA', 'UNKNOWN', 'CUBA',
       'MAURITIUS', 'NEW ZEALAND', 'SPAIN', 'SAMOA', 'SOLOMON ISLANDS',
       'JAPAN', 'EGYPT', 'ST HELENA, BRITISH OVERSEAS TERRITORY',
       'COMOROS', 'REUNION', 'FRENCH POLYNESIA', 'UNITED KINGDOM',
       'UNITED ARAB EMIRATES', 'PHILIPPINES', 'INDONESIA', 'CHINA',
       'COLUMBIA', 'CAPE VERDE', 'FIJI', 'DOMINICAN REPUBLIC',
       'CAYMAN ISLANDS', 'ARUBA', 'MOZAMBIQUE', 'PUERTO RICO', 'ITALY',
       'ATLANTIC OCEAN', 'GREECE', 'ST. MARTIN', 'FRANCE',
       'PAPUA NEW GUINEA', 'TRINIDAD & TOBAGO', 'KIRIBATI', 'ISRAEL',
       'DIEGO GARCIA', 'TAIWAN', 'JAMAICA', 'PALESTINIAN TERRITORIES',
       'GUAM', 'SEYCHELLES', 'BELIZE', 'NIGERIA', 'TONGA', 'SCOTLAND',
       'CANADA', 'CROATIA', 'SAUDI ARABIA', 'CHILE', 'ANTIGUA', 'KENYA',
       'RUSSIA', 'TURKS & CAICOS', 'UNITED ARAB EMIRATES (UAE)', 'AZORES',
       'SOUTH KOREA', 'MALTA', 'VIETNAM', 'MADAGASCAR', 'PANAMA',
       'SOMALIA', 'NEVIS', 'BRITISH VIRGIN ISLANDS', 'NORWAY', 'SENEGAL',
       'YEMEN', 'GULF OF ADEN', 'SIERRA LEONE', 'ST. MAARTIN',
       'GRAND CAYMAN', 'LIBERIA', 'VANUATU', 'HONDURAS', 'VENEZUELA',
       'SRI LANKA', 'URUGUAY', 'INDIA', 'MICRONESIA', 'CARIBBEAN SEA',
       'OKINAWA', 'TANZANIA'], dtype=object)

In [43]:
# 20. I will check how many nans we have and if we can find the Country by its Area or Location column.
data.loc[data['Country'] == "UNKNOWN"]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
62,2017.11.13.R,Reported 13-Nov-2017,2017.0,Unprovoked,UNKNOWN,NaN,NaN,Surfing,Timur Yunusov,M,...,NaN,Instagram,2017.11.13.R-Timur.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.11.13.R,2017.11.13.R,6241.0,NaN,NaN
525,2014.08.00,Aug-2014,2014.0,Invalid,UNKNOWN,NaN,NaN,Sea disaster,Cuban refugees,M,...,Shark involvement not confirmed,"Associated Press, 11/27/2014",2014.08.00-Cuban-refugees.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.08.00,2014.08.00,5778.0,NaN,NaN

In [44]:
# 21.We can drop these 2 rows:
indexNames = data[data['Country'] == "UNKNOWN"].index
data.drop(indexNames , inplace=True)
data["Country"].unique()

array(['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'NUNITED KINGDOM',
       'SOUTH AFRICA', 'THAILAND', 'COSTA RICA', 'MALDIVES', 'BAHAMAS',
       'NEW CALEDONIA', 'ECUADOR', 'MALAYSIA', 'LIBYA', 'CUBA',
       'MAURITIUS', 'NEW ZEALAND', 'SPAIN', 'SAMOA', 'SOLOMON ISLANDS',
       'JAPAN', 'EGYPT', 'ST HELENA, BRITISH OVERSEAS TERRITORY',
       'COMOROS', 'REUNION', 'FRENCH POLYNESIA', 'UNITED KINGDOM',
       'UNITED ARAB EMIRATES', 'PHILIPPINES', 'INDONESIA', 'CHINA',
       'COLUMBIA', 'CAPE VERDE', 'FIJI', 'DOMINICAN REPUBLIC',
       'CAYMAN ISLANDS', 'ARUBA', 'MOZAMBIQUE', 'PUERTO RICO', 'ITALY',
       'ATLANTIC OCEAN', 'GREECE', 'ST. MARTIN', 'FRANCE',
       'PAPUA NEW GUINEA', 'TRINIDAD & TOBAGO', 'KIRIBATI', 'ISRAEL',
       'DIEGO GARCIA', 'TAIWAN', 'JAMAICA', 'PALESTINIAN TERRITORIES',
       'GUAM', 'SEYCHELLES', 'BELIZE', 'NIGERIA', 'TONGA', 'SCOTLAND',
       'CANADA', 'CROATIA', 'SAUDI ARABIA', 'CHILE', 'ANTIGUA', 'KENYA',
       'RUSSIA', 'TURKS & CAICOS', 'UNITED ARAB EMIRATES (UAE)', 'AZORES',
       'SOUTH KOREA', 'MALTA', 'VIETNAM', 'MADAGASCAR', 'PANAMA',
       'SOMALIA', 'NEVIS', 'BRITISH VIRGIN ISLANDS', 'NORWAY', 'SENEGAL',
       'YEMEN', 'GULF OF ADEN', 'SIERRA LEONE', 'ST. MAARTIN',
       'GRAND CAYMAN', 'LIBERIA', 'VANUATU', 'HONDURAS', 'VENEZUELA',
       'SRI LANKA', 'URUGUAY', 'INDIA', 'MICRONESIA', 'CARIBBEAN SEA',
       'OKINAWA', 'TANZANIA'], dtype=object)

In [45]:
# 22. not sure if there is a point to change data type (?)
display(data.Year.dtype)

dtype('float64')

In [46]:
# 23. Area seems OK
#data["Area"].unique()

In [47]:
# 24. geting statistical overview of our table, it brings nthn since we have non numerical data
summary=data.describe().T
summary.head()

,count,mean,std,min,25%,50%,75%,max
Year,2076.0,2009.407996,5.272681,2000.0,2005.00,2010.0,2014.00,2018.0
original order,2076.0,5262.871387,599.952129,4225.0,4743.75,5262.5,5782.25,6303.0

In [48]:
####### TRYING DIFFERENT THINGS

data1 = data.copy()

In [49]:
#import datetime
#data1['year'] = pd.DatetimeIndex(data1['Year']).year
#data1.head(50)

In [ ]:
data1.shape

In [ ]:
def clean_colnames(df):
    '''Clean columns names when passing a pandas dataframe: params (df - dataframe)'''
    col_clean = []
    for col in df.columns:
        col = col.strip().upper()
        col_clean.append(col)
        
    df.columns = col_clean
    return df.columns

clean_colnames(data1)

In [ ]:
# 25. I will now try to extract months from Date column:
#data1.sample(50)
#data["Date"].value_counts()
# I notice that most (but not all) dates are in format dd-Month-yyyy, I will try to unify cells to one date format:

In [ ]:
# DOESN'T WORK:
#data1['Date'] = pd.to_datetime(data1['Date'])
#data1["Date"].dt.strftime("%d/%b/%y")

In [ ]:
# DOESN'T WORK:
#import numpy as np
#import datetime
#data1['Date'] = pd.to_datetime(data1['Date'])

In [ ]:
# DOESN'T WORK:
"""
data2 = data1.copy()
for row in data1['Date']:
    if data1.Date.str.startswith('Reported'):
            data2 = data1["Date"].str[9,:]

data2['Date'].value_counts()"""

In [ ]:
# DOESN'T WORK:
"""
data2 = data1.copy()
lista2 =[]
for row in data1['Date']:
    re_obj = re.sub(r'Reported ', '', row)
    lista2.append(re_obj)
data2['DateCorrected'] = lista2
data2['DateCorrected'].value_counts()
data2.head()"""

In [ ]:
# WORKS! :)
# 1. extracting "-aaa-" from strings in Date
# 2. cleaning "-"
import re
import numpy as np
months_lst = []
for row in data1['Date']:
    #re_obj = ''.join(re.findall('[^\d]',text)) #checking for letters (non numeric characters)
    #re_obj = ''.join(re.findall('[A-Za-z]{4}\-',row)).lower() #searching for months written differently than -aaa-
    re_obj = ''.join(re.findall('\-[A-Za-z]{3}\-',row)).lower()
    re_obj = re.sub('\-','',re_obj)
        
        
    #if re_obj == '':
        #re_obj = np.nan

    months_lst.append(re_obj)
# adding a column Month:
data1['Month'] = months_lst

data1["Month"].value_counts()

In [ ]:
# I notice that findall didnt fid a match with 57 rows, I will check them:

In [ ]:
data1.loc[data1['Month'] == ""]

In [ ]:
# I notice that many of them can be easily corrected with another findall:

In [ ]:
data2 = data1.copy()
months_lst = []
for row in data2['Date']:
    re_obj = ''.join(re.findall('[A-Za-z]{3}\-',row)).lower()
    re_obj = re.sub('\-','',re_obj)
        
        
    #if re_obj == '':
        #re_obj = np.nan

    months_lst.append(re_obj)

data2['Month'] = months_lst

data2["Month"].value_counts()

In [ ]:
# Great, I only have 17 unmatched rows and 3 matched, but need some cleaning
# let s have a lok at these 17 unmatched rows:

In [ ]:
data2.loc[data2['Month'] == ""]

In [ ]:
data3 = data2.loc[data2['Month'] == ""]
data3.head(20)

In [ ]:
# another cleaning with findall:
months_lst = []
for row in data3['Date']:
    re_obj = ''.join(re.findall('\-[A-Za-z]{3}',row)).lower()
    re_obj = re.sub('\-','',re_obj)
        
        
    #if re_obj == '':
        #re_obj = np.nan

    months_lst.append(re_obj)

data3['Month'] = months_lst

data3["Month"].value_counts()

In [ ]:
text = "29-Nov2013"

re_obj = ''.join(re.findall('\-[A-Za-z]{3}',text)).lower()
re_obj = re.sub('\-','',re_obj)
print(re_obj)