In [1]:
import pandas as pd
import os
os.chdir('C:/Users/Kasia/TEST/806_Repo/Labs/module_1/Pipelines-Project/204_47432_compressed_attacks')
os.listdir()

sharks=pd.read_csv("attacks.csv", encoding='latin-1')
sharks.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [2]:
sharks.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [6]:
#checking what unique values I have in each column to get more idea of what I have in my data:
sharks["Injury"].unique()

array(['No injury to occupant, outrigger canoe and paddle damaged',
       'Minor injury to left thigh',
       'Injury to left lower leg from surfboard skeg', ...,
       'FATAL, leg stripped of flesh  ',
       'FATAL, knocked overboard by tail of shark & carried off by shark ',
       'FATAL. "Shark bit him in half, carrying away the lower extremities" '],
      dtype=object)

In [4]:
#checking what unique values I have in each column to get more idea of what I have in my data:
sharks["Injury"].unique()

array(['No injury to occupant, outrigger canoe and paddle damaged',
       'Minor injury to left thigh',
       'Injury to left lower leg from surfboard skeg', ...,
       'FATAL, leg stripped of flesh  ',
       'FATAL, knocked overboard by tail of shark & carried off by shark ',
       'FATAL. "Shark bit him in half, carrying away the lower extremities" '],
      dtype=object)

In [5]:
# 1. After checking what unique values I have in each column, I am defining my purpose with this data:
# Travel agency asking which areas in the world are most dangerous when it comes to sharks attacks?
#     -> 20 countries where attacks are most common = 20 countries where injury without death is most common
#     -> 20 countries where attack results with death
#     -> 20 countries where attacks are unprovoked
 

# so to my study, the most important columns are:
# Country, Year - these cannot be nan
# Injury, Fatal, Type - these, even if nan, I keep, bc they still give me info that there was an attack in specyfic country

In [4]:
sharks.info()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [8]:
# 3. I will cutt all the columns that are not important to me:
drop_cols = ["Case Number","Date","Activity","Name","Sex ","Species ","Investigator or Source","pdf","href formula","href","Case Number.1","Case Number.2","original order", "Unnamed: 22", "Unnamed: 23"]
data = data.drop(drop_cols, axis=1)
data.shape
# sex i species were written with space, we can see here:
#data.columns

(25723, 9)

In [9]:
data.head()

,Year,Type,Country,Area,Location,Age,Injury,Fatal (Y/N),Time
0,2018.0,Boating,USA,California,"Oceanside, San Diego County",57,"No injury to occupant, outrigger canoe and pad...",N,18h00
1,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",11,Minor injury to left thigh,N,14h00 -15h00
2,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",48,Injury to left lower leg from surfboard skeg,N,07h45
3,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,NaN,Minor injury to lower leg,N,NaN
4,2018.0,Provoked,MEXICO,Colima,La Ticla,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN

In [10]:
# 4. Checking each column unique values again to get the idea of my data and what is there to be cleaned
data["Fatal (Y/N)"].unique()

array(['N', 'Y', nan, 'M', 'UNKNOWN', '2017', ' N', 'N ', 'y'],
      dtype=object)

In [12]:
# 5. Will start with Year - it goes back to 15543 (the small ones i suppose is mistake):
indexNames = data[data['Year'] < 2000].index
data.drop(indexNames , inplace=True)
data.shape

(2078, 9)

In [13]:
data["Year"].unique()

array([2018., 2017., 2016., 2015., 2014., 2013., 2012., 2011., 2010.,
       2009., 2008., 2007., 2006., 2005., 2004., 2003., 2002., 2001.,
       2000.])

In [14]:
#6. I think my Year column looks nneat, will now work on Country coolumn:
data["Country"].unique()
#data["Type"].value_counts()
#set(data['Date'].sample(n=30))

array(['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'ENGLAND', 'SOUTH AFRICA',
       'THAILAND', 'COSTA RICA', 'MALDIVES', 'BAHAMAS', 'NEW CALEDONIA',
       'ECUADOR', 'MALAYSIA', 'LIBYA', nan, 'CUBA', 'MAURITIUS',
       'NEW ZEALAND', 'SPAIN', 'SAMOA', 'SOLOMON ISLANDS', 'JAPAN',
       'EGYPT', 'ST HELENA, British overseas territory', 'COMOROS',
       'REUNION', 'FRENCH POLYNESIA', 'UNITED KINGDOM',
       'UNITED ARAB EMIRATES', 'PHILIPPINES', 'INDONESIA', 'CHINA',
       'COLUMBIA', 'CAPE VERDE', 'Fiji', 'DOMINICAN REPUBLIC',
       'CAYMAN ISLANDS', 'ARUBA', 'MOZAMBIQUE', 'FIJI', 'PUERTO RICO',
       'ITALY', 'ATLANTIC OCEAN', 'GREECE', 'ST. MARTIN', 'FRANCE',
       'PAPUA NEW GUINEA', 'TRINIDAD & TOBAGO', 'KIRIBATI', 'ISRAEL',
       'DIEGO GARCIA', 'TAIWAN', 'JAMAICA', 'PALESTINIAN TERRITORIES',
       'GUAM', 'SEYCHELLES', 'BELIZE', 'NIGERIA', 'TONGA', 'SCOTLAND',
       'CANADA', 'CROATIA', 'SAUDI ARABIA', 'CHILE', 'ANTIGUA', 'KENYA',
       'RUSSIA', 'TURKS & CAICOS', 'UNITED ARAB EMIRATES (UAE)', 'AZORES',
       'SOUTH KOREA', 'MALTA', 'VIETNAM', 'MADAGASCAR', 'PANAMA',
       'SOMALIA', 'NEVIS', 'BRITISH VIRGIN ISLANDS', 'NORWAY', 'SENEGAL',
       'YEMEN', 'GULF OF ADEN', 'Sierra Leone', 'ST. MAARTIN',
       'GRAND CAYMAN', 'Seychelles', 'LIBERIA', 'VANUATU', 'MEXICO ',
       'HONDURAS', 'VENEZUELA', 'SRI LANKA', ' TONGA', 'URUGUAY', 'INDIA',
       'MICRONESIA', 'CARIBBEAN SEA', 'OKINAWA', 'TANZANIA'], dtype=object)

In [15]:
#7. Checking Fatality column:
data["Fatal (Y/N)"].unique()

array(['N', 'Y', nan, 'M', 'UNKNOWN', '2017'], dtype=object)

In [16]:
null_cols = data.isnull().sum()
null_cols

Year             0
Type             2
Country          2
Area            90
Location        87
Age            526
Injury           2
Fatal (Y/N)    161
Time           600
dtype: int64

In [17]:
data["Fatal (Y/N)"] = data["Fatal (Y/N)"].str.replace('M', 'N')
data.["Fatal (Y/N)"].unique()

SyntaxError: invalid syntax (<ipython-input-17-3355b056c493>, line 2)

In [18]:
# I constate that having spaces in col name is not a good thing, will rename this column:
data = data.rename(columns={'Fatal (Y/N)':'Fatality'})

data["Fatality"] = data["Fatality"].str.replace('M', 'N')
data.Fatality.unique()

array(['N', 'Y', nan, 'UNKNOWN', '2017'], dtype=object)

In [19]:
data.Fatality.value_counts()

N          1739
Y           175
UNKNOWN       2
2017          1
Name: Fatality, dtype: int64

In [20]:
# looks good, 3 values that is tempting to drop/leave them, but let s see if possible to correct them:
# question in my head, shall i drop these 3 rows of nan or keep the for the sake of other info in the row?
#I will keep them for now
data.loc[data['Fatality'] == "2017"]

,Year,Type,Country,Area,Location,Age,Injury,Fatality,Time
786,2012.0,Provoked,ITALY,Sardinia,Muravera,57,Lower left leg injured PROVOKED ACCIDENT,2017,Morning

In [21]:
data.loc[data['Fatality'] == "UNKNOWN"]

,Year,Type,Country,Area,Location,Age,Injury,Fatality,Time
624,2013.0,Unprovoked,USA,South Carolina,"St. Helena Island, Beaufort County",NaN,No details,UNKNOWN,NaN
1270,2008.0,Unprovoked,AUSTRALIA,New South Wales,Crescent Head,NaN,NaN,UNKNOWN,NaN

In [23]:
#seems like 2017 was not fatal, lets correct it:
data["Fatality"] = data["Fatality"].str.replace('2017', 'N')
data['Fatality'] = data['Fatality'].fillna("UNKNOWN")
data.Fatality.unique()

array(['N', 'Y', 'UNKNOWN'], dtype=object)

In [24]:
# ok, looks good, but it wasnt piece of cake, been struggling with:
#NameError: name 'nan' is not defined, imported numby but it didnt help, then was this:
#TypeError: repl must be a string or callable
# grrrrr, I will change my nan to UNKNOWN instead:
#data['Fatality'] = data['Fatality'].fillna("UNKNOWN")
#data["Fatality"] = data["Fatality"].str.replace('','UNKNOWN')
#data.Fatality.unique()
#array(['UNKNOWNUUNKNOWNNUNKNOWNKUNKNOWNNUNKNOWNOUNKNOWNWUNKNOWNNUNKNOWNNUNKNOWNUUNKNOWNNUNKNOWNKUNKNOWNNUNKNOWNOUNKNOWNWUNKNOWNNUNKNOWN',
 #      'UNKNOWNUUNKNOWNNUNKNOWNKUNKNOWNNUNKNOWNOUNKNOWNWUNKNOWNNUNKNOWNYUNKNOWNUUNKNOWNNUNKNOWNKUNKNOWNNUNKNOWNOUNKNOWNWUNKNOWNNUNKNOWN',
  #     'UNKNOWNUUNKNOWNNUNKNOWNKUNKNOWNNUNKNOWNOUNKNOWNWUNKNOWNNUNKNOWNUUNKNOWNUUNKNOWNNUNKNOWNKUNKNOWNNUNKNOWNOUNKNOWNWUNKNOWNNUNKNOWNNUNKNOWNUUNKNOWNNUNKNOWNKUNKNOWNNUNKNOWNOUNKNOWNWUNKNOWNNUNKNOWNKUNKNOWNUUNKNOWNNUNKNOWNKUNKNOWNNUNKNOWNOUNKNOWNWUNKNOWNNUNKNOWNNUNKNOWNUUNKNOWNNUNKNOWNKUNKNOWNNUNKNOWNOUNKNOWNWUNKNOWNNUNKNOWNOUNKNOWNUUNKNOWNNUNKNOWNKUNKNOWNNUNKNOWNOUNKNOWNWUNKNOWNNUNKNOWNWUNKNOWNUUNKNOWNNUNKNOWNKUNKNOWNNUNKNOWNOUNKNOWNWUNKNOWNNUNKNOWNNUNKNOWNUUNKNOWNNUNKNOWNKUNKNOWNNUNKNOWNOUNKNOWNWUNKNOWNNUNKNOWN',
   #    'UNKNOWNUUNKNOWNNUNKNOWNKUNKNOWNNUNKNOWNOUNKNOWNWUNKNOWNNUNKNOWN'],
    #  dtype=object)

In [28]:
#8. I have columns: Year, Fatality, Country clean
data.shape

(2078, 9)

In [27]:
# I will drop duplicated rows:
data.duplicated().value_counts()

False    2075
True        3
dtype: int64

In [32]:
#most probably these 3 rows are mistakenly inserted duplicates, I will get rid of them:
data = data.drop_duplicates()
data

,Year,Type,Country,Area,Location,Age,Injury,Fatality,Time
0,2018.0,Boating,USA,California,"Oceanside, San Diego County",57,"No injury to occupant, outrigger canoe and pad...",N,18h00
1,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",11,Minor injury to left thigh,N,14h00 -15h00
2,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",48,Injury to left lower leg from surfboard skeg,N,07h45
3,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,NaN,Minor injury to lower leg,N,NaN
4,2018.0,Provoked,MEXICO,Colima,La Ticla,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN
...,...,...,...,...,...,...,...,...,...
2074,2000.0,Unprovoked,NEW ZEALAND,South Island,Oreti Beach (reported as the 4th person bitten...,12,"No injury, wetsuit punctured",N,NaN
2075,2000.0,Unprovoked,AUSTRALIA,South Australia,"Point Sinclair, Cactus Beach near Penong",26,Hand bitten,N,NaN
2076,2000.0,Boat,REUNION,NaN,Saint Pierre,NaN,FATAL,Y,NaN
2077,2000.0,Unprovoked,THAILAND,Phang nga Province,Phang nga Island,35,FATAL,Y,NaN
2078,2000.0,Boat,USA,Florida,"Boca Grande, Lee County",NaN,No injury to occupant; shark bit propeller,N,NaN

In [8]:
data.Activity.unique()

array(['Paddling', 'Standing', 'Surfing', ...,
       'Crew swimming alongside their anchored ship',
       '4 men were bathing', 'Wreck of  large double sailing canoe'],
      dtype=object)

In [12]:
def clean_colnames(df):
    '''Clean columns names when passing a pandas dataframe: params (df - dataframe)'''
    col_clean = []
    for col in df.columns:
        col = col.strip()
        col_clean.append(col)
        
    df.columns = col_clean
    return df.columns

clean_colnames(sharks)
sharks.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')